body {
    background-color: aqua;
    color: #d81313;
}

#bio {
    background-color: rgb(93, 250, 31);
    color: #020202;
    padding: 50px;
}
 #bio img {
    height: 250px;
    width: auto;
 }

 p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
 }
 #contact {
    font-style: oblique;
    color: #020202;
    border: #020202; width: 400px; height: auto; box-shadow: #d81313;
 }
 #title {
   color: orange;
   border: width 10px; font-style: italic; color: orange;

 }
 #Email {
   background-color: red;
   padding: 50px, 50px, 50px, 50px;
   color: black;
 }
 #Github {
   background-color: white;
   padding: 50px, 50px, 50px, 50px;
   color: black;
 }
 #Portfolio {
   background-color: blue;
   padding: 50px, 50px, 50px, 50px;
   color: black;
 }